.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
.env
.idea/
.vscode/
/storage/**
!/storage/server/
!/storage/temporary/
!/storage/devices/
!/storage/server/.gitkeep
!/storage/temporary/.gitkeep
!/storage/devices/.gitkeep
